<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="{%static 'style.css' %}">
</head>
<body>
    <header>
        <img id="logo"src="https://www.efuturex.com/static/assets/img/EFUTUREX-Logo.png" alt="Efuturex logo">
        <nav>
            <button><a class="nav-link" href="">Home</a></button>
            <button><a class="nav-link" href="">Login</a></button>
            <button><a class="nav-link" href="">Register</a></button>
        </nav>
    </header>
    <form >
        <section id="event" style="margin-top: 36px; height: fit-content;">
            <div class="event-card" id="event-card2" style="padding-bottom: 10px;">
                <h2>{{event.event_title}}</h2>
                
                <p>Location: {{event.location}}</p>
                <p>Date: {{event.date}}</p>
                <p>Description: {{event.description}}</p>
                <h4 style="font-family: Arial, Helvetica, sans-serif;">Apply for this event: </h4>
                <label for="Name">Full Name: </label>
                <input type="text" placeholder="Enter your name"><br>
                <label for="Email">Email ID: </label>
                <input type="email" placeholder="Enter your email id"><br>
                <label for="Phone">Phone Number: </label>
                <input type="tel" placeholder="Enter your phone number"><br>
                <input type="submit" value="Apply">
            </div>
        </section>
    </form>
    <footer style="position: relative; bottom:0;">
        © 2023 Event Registration System
    </footer>
</body>
</html>